body {
    margin: 20px;
}

.board-row::after {
    clear: both;
    content: "";
    display: table;
}

.square {
    background-color: green;
    border: 1px solid black;
    float: left;
    height: 80px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 80px;
}

.white {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    margin: auto;
}

.black {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
    margin: auto;
}